html, body {
  margin: 0px;
  font-family: 'DM Mono', serif;
}

.clickable:hover {
  cursor: pointer;
}

.hidden {
 /* Used to override other display properties,
  * .hidden should always take highest precedence */
  display: none !important;
}

.arrow_up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333;
}

.arrow_down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #333;
}

.arrow_right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #333;
}

.arrow_left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #333;
}